body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}
section.header-area{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.container {
    display: flex;
    padding: 0 5%;
}
.half-width {
    width: 50%;
    padding: 0 5%;
}
img.my-header-img {
    width: 100%;
}
a.-btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(
45deg
, lightsalmon, tomato);
    padding: 12px 40px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
}
h1 {
    font-size: 50px;
    line-height: 1.9;
    margin-bottom: 0;
}
p {
    margin-bottom: 33px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 25px;
}
span.below-title {
    color: orange;
}
h4.heading-subtitle {
    font-size: 23px;
}
p.about-me {
    margin-bottom: 33px;
}
img.dream-img {
    width: 98%;
}
section.dream-area {
    margin: 176px 0;
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
h1.dream-header {
    margin: 0;
}
.half-width.first-column {
    margin-bottom: 50px;
    padding-bottom: 35px;
    border-left: 7px solid;
    border-image: linear-gradient(
180deg
, lightsalmon, tomato);
    border-image-slice: 1;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.half-width.second-column {
    margin-bottom: 50px;
    padding-bottom: 35px;
    border-left: 7px solid;
    border-image: linear-gradient(
180deg
, blue, cyan);
    border-image-slice: 1;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.experience-area h1 {
    font-size: 43px;
}
p.copyright-text {
    text-align: center;
}
h1.experience-title {
    margin-bottom: 30px;
}
section.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width.first-column {
    margin-right: 2%;
}
.half-width.second-column {
    margin-left: 2%;
}